<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Deallus Technologies</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <!--========================================================
                                  HEADER
        =========================================================-->
        <header id="header">
            <div id="stuck_container">
                <div class="container">
                    <div class="row">
                        <div class="grid_12">
                            <div class="brand put-left">                                
                                    <a href="@Url.Action("Index","Home")">
                                        <img src=@Url.Content("~/images/logo.jpg") alt="Logo"/>
                                    </a>                                
                            </div>
                            <nav class="nav put-right">
                                <ul class="sf-menu">
                                    <li> @Html.ActionLink("Home", "Index", "Home") </li>
                                    <li> @Html.ActionLink("About", "About", "Home") </li>
                                    <li> @Html.ActionLink("Services", "Services", "Home") </li>
                                    <li> @Html.ActionLink("Contact", "Contact", "Home") </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="content">
            @RenderBody()
        </section>
        </div>

<!--========================================================
                        FOOTER
=========================================================-->
            <footer id="footer" class="color_9">
                <div class="container">
                    <div class="row">
                        <div class="grid_12">
                            <p class="info text_4 color_4">
                                © <span id="copyright-year">2017</span> | Website designed by Deallus Technologies
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="js/script.js"></script>

            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
</body>
</html>