@{
    ViewBag.Title = "Home Page";
}

<!--========================================================
                                  CONTENT
=========================================================-->

    <div class="ic">More Website Templates TemplateMonster.com - September08, 2014!</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Url.Content("~/images/slide0.jpg")" style="width:100%; border-style: solid; border-width: 1px;" alt="First slide" />
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/slide1.jpg")" style="width:100%; border-style: solid; border-width: 1px;" data-src="" alt="Second slide" />
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/slide2.png")" style="width:100%; border-style: solid; border-width: 1px;" data-src="" alt="Third slide" />
        </div>
        <div class="item">
            <img src="@Url.Content("~/images/slide3.png")" style="width:100%; border-style: solid; border-width: 1px;" data-src="" alt="Fourth slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> 

    <div class="container">
        <div class="row wrap_1 wrap_5">
            <div class="grid_3">
                <div class="box_1"> 
                    <div class="icon_1"> </div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Web Development</a></h3>
                    <p class="text_3 color_2 maxheight">
                        Our engineers provides user satisfaction with product by improving the usability, accessibility & compatibility with the browsers. 
                    </p>
                    <a class="btn_2" href="#">Read More</a>
                </div>
            </div>
            <div class="grid_3">
                <div class="box_1">
                    <div class="icon_2"></div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Web Designing</a></h3>
                    <p class="text_3 color_2 maxheight">
                        We create unique web design with enhanced user experience.
                    </p>
                    <a class="btn_2" href="#">Read More</a>
                </div>
            </div>
            <div class="grid_3">
                <div class="box_1">
                    <div class="icon_3"> </div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Mobile Application</a></h3>
                    <p class="text_3 color_2 maxheight">
                        We build the android, windows & iOS Apps.
                    </p>
                    <a class="btn_2" href="#">Read More</a>
                </div>
            </div>
            <div class="grid_3">
                <div class="box_1">
                    <div class="icon_4"></div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Web Hosting</a></h3>
                    <p class="text_3 color_2 maxheight">
                        We provide the web hosting service that allows customers to make their web site accessible via World Wide Web (WWW).
                    </p>
                    <a class="btn_2" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_1 wrap_2 wrap_4">
        <div class="container">
            <div class="row">
                <div class="preffix_2 grid_8">
                    <h2 class="header_1 wrap_3 color_3">
                        The Best Engineering Services
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="grid_12">
                    <div class="box_1">
                        <p class="text_3">
                            Welcome to Deallus Technologies
                        </p>
                        <p class="text_3">
                            We at Deallus Technologies, provide the software solutions to out customers.
                            Deallus Technologies offers a wide range of solutions in web design, web development, web hosting, SEO services and software development. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row wrap_1">
            <div class="grid_6">
                <div class="wrap_6">
                    <div class="box_2 maxheight2">
                        <div class="put-left"><img src=@Url.Content("~/images/index_img01.png") alt="Image 1" /></div>
                        <div class="caption">
                            <h3 class="text_2 color_2">
                                Save Your Time <br />
                                with Us
                            </h3>
                            <p class="text_3">
                                You can save your time by giving your work to us.
                            </p>
                            <a href="#" class="btn_2">Read More</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="grid_6">
                <div class="wrap_6">
                    <div class="box_2 maxheight2">
                        <div class="put-left"><img src=@Url.Content("~/images/index_img02.png") alt="Image 2" /></div>
                        <div class="caption">
                            <h3 class="text_2 color_2">
                                The Highest <br />
                                Quality Services
                            </h3>
                            <p class="text_3">
                                We provide highest quality service to our customers.
                            </p>
                            <a href="#" class="btn_2">Read More</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bg_1 wrap_7 wrap_5">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2 class="header_1 wrap_8 color_3">
                    <u>TESTIMONIALS</u>
                </h2>
                <h6 class="header_6 wrap_8 color_3">What Clients says about us</h6>
            </div>
        </div>

        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->

            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1"></li>
                <li data-target="#myCarousel1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="@Url.Content("~/images/black_bg.jpg")" style="width:100%" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>
                                <h2>
                                    "When it comes to creating professional, attractive, and effective websites, 
                                    there is no company that can surpass Deallus Technologies".  
                                    Thanks to their talent, our site has taken off in the search engines like a rocket.  
                                    In this day and age, it's impossible to get ahead as a business without 
                                    the support of gurus like Deallus Technologies standing behind you.
                                </h2>
                                - Founder of BakersInn, Pune
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/images/black_bg.jpg")" style="width:100%" data-src="" alt="Second    slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>
                                <h2>
                                    Thanks for the great work, I'm very happy with the result. 
                                    They took the time to understand the requirements for the job and 
                                    continually adjusted the work according to my inputs. 
                                    <br />
                                    If you are looking to get a website built or redesigned these are the go to guys.
                                </h2>
                                - CEO, Moksh Healing, Australia
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/images/black_bg.jpg")" style="width:100%" data-src="" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <p>
                                <h2>
                                    I couldn't be happier with my choice of using Deallus Technologies for my new website. 
                                    Their team were very easy to work with and helped me to make a terrific website 
                                    in a short amount of time.
                                    <br />
                                    They provided so much more than I asked for! 
                                    I am pleased with my website and the interaction with their representative.
                                </h2>
                                - Owner of Ganraj Share Market Classes, Pune
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row wrap_9 wrap_4 wrap_10">
            <div class="grid_12">
                <div class="header_1 wrap_3 color_3">
                    Get in Touch
                </div>
                <div class="box_3">
                    <ul class="list_1">
                        <li><a class="fa fa-twitter" href="#"></a></li>
                        <li><a class="fa fa-facebook" href="#"></a></li>
                        <li><a class="fa fa-google-plus" href="#"></a></li>
                        <li><a class="fa fa-linkedin" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>